/*================================================
Default CSS
=================================================*/
:root {
    --main-color: #1cb9c8;
    --white-color: #ffffff;
    --black-color: #000000;
  }
  
  .switch-box {
    position: fixed;
    z-index: 1;
    right: 95px;
    bottom: 45px;
  }
  
  .switch-box .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .switch-box .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2.5px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 0px 15px #2020203d;
            box-shadow: 0 0px 15px #2020203d;
    background: white url("https://i.ibb.co/FxzBYR9/night.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .switch-box input:checked + .slider {
    background-color: var(--main-color);
  }
  
  .switch-box input:focus + .slider {
    -webkit-box-shadow: 0 0 1px --main-color;
            box-shadow: 0 0 1px --main-color;
  }
  
  .switch-box input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
    background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .switch-box .slider.round {
    border-radius: 50px;
  }
  
  .switch-box .slider.round:before {
    border-radius: 50%;
  }
  
  .theme-light .black-logo {
    display: block;
  }
  
  .theme-light .white-logo {
    display: none;
  }
  
  .theme-dark .black-logo {
    display: none;
  }
  
  .theme-dark .white-logo {
    display: block;
  }
  
  .theme-dark body {
    background-color: var(--black-color);
    color: #f1f1f1;
  }
  
  .theme-dark p {
    color: #f1f1f1;
  }
  
  .theme-dark p a {
    color: #f1f1f1 !important;
  }
  
  .theme-dark p a:hover {
    color: var(--main-color) !important;
  }
  
  .theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
    color: var(--white-color) !important;
  }
  
  .theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
    color: var(--white-color) !important;
  }
  
  .theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
    color: var(--main-color) !important;
  }
  
  .theme-dark .main-navbar {
    background-color: var(--black-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .main-navbar .navbar .navbar-nav .nav-item.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: #0e0e0e;
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .others-options .option-item .search-box i {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .others-options .option-item .search-box i:hover {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .others-options .option-item .cart-btn i {
    color: var(--white-color);
  }
  
  .theme-dark .main-navbar .navbar .others-options .option-item .cart-btn i:hover {
    color: var(--main-color);
  }
  
  .theme-dark .main-navbar .navbar .others-options .option-item .call-us span {
    color: var(--white-color);
  }
  
  .theme-dark .navbar-style-two .main-navbar.bg-f9fafb {
    background-color: #0e0e0e;
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search {
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:focus {
    border-color: var(--main-color);
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .search-overlay .search-overlay-form form .input-search:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .main-slides-area::before {
    background-color: #0e0e0e;
  }
  
  .theme-dark .home-slides.owl-theme .owl-nav [class*=owl-] {
    background: #222222;
    color: var(--white-color);
    border: 1px solid #222222;
  }
  
  .theme-dark .home-slides.owl-theme .owl-nav [class*=owl-]:hover {
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-] {
    color: var(--white-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-].owl-prev::before {
    background-color: var(--black-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-].owl-next::before {
    background-color: var(--black-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-]:hover {
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--white-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-]:hover.owl-prev::before {
    background-color: var(--main-color);
  }
  
  .theme-dark .hero-slides.owl-theme .owl-nav [class*=owl-]:hover.owl-next::before {
    background-color: var(--main-color);
  }
  
  .theme-dark .about-image .about-years {
    background-color: #0e0e0e;
  }
  
  .theme-dark .about-image .about-years span {
    color: var(--white-color);
  }
  
  .theme-dark .about-content .about-signature span {
    color: var(--white-color);
  }
  
  .theme-dark .about-content .about-list li {
    color: var(--white-color);
  }
  
  .theme-dark .about-image-wrap .about-years {
    background-color: #0e0e0e;
  }
  
  .theme-dark .about-image-wrap .about-years span {
    color: var(--white-color);
  }
  
  .theme-dark .fun-fact-area {
    background-color: #0e0e0e;
  }
  
  .theme-dark .single-funfact-card .icon::after {
    background-color: #0e0e0e;
  }
  
  .theme-dark .single-services-card .services-content {
    background-color: #0e0e0e;
  }
  
  .theme-dark .single-services-card:hover .services-content {
    background-color: var(--main-color);
  }
  
  .theme-dark .single-services-box {
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .single-services-box .default-btn {
    background-color: #0e0e0e;
    border: 1px solid var(--main-color);
    color: var(--white-color) !important;
  }
  
  .theme-dark .single-services-box .default-btn:hover {
    color: var(--white-color) !important;
  }
  
  .theme-dark .appointment-area::after {
    background-color: var(--black-color);
  }
  
  .theme-dark .appointment-form-wrap {
    background-color: #222222;
  }
  
  .theme-dark .appointment-form-wrap.with-border {
    border: 1px solid #222222;
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .form-control {
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .selectize-input {
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .appointment-form-wrap .appointment-form .form-group .selectize-input:after {
    color: var(--white-color);
  }
  
  .theme-dark .partner-area {
    background-color: #0e0e0e;
  }
  
  .theme-dark .single-pricing-box {
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .single-pricing-box .pricing-header {
    border-bottom: 1px solid #0e0e0e;
  }
  
  .theme-dark .single-pricing-box .pricing-header .price {
    color: var(--white-color);
  }
  
  .theme-dark .single-pricing-box .pricing-header .price span {
    color: var(--white-color);
  }
  
  .theme-dark .single-pricing-box .pricing-features li {
    color: var(--white-color);
  }
  
  .theme-dark .single-pricing-box:hover {
    background-color: #1f77d8;
  }
  
  .theme-dark .country-area {
    background-color: #0e0e0e;
  }
  
  .theme-dark .single-team-card .team-content {
    background-color: #222222;
  }
  
  .theme-dark .single-team-card .team-content span {
    color: var(--white-color);
  }
  
  .theme-dark .single-testimonial-card {
    background-color: #222222;
  }
  
  .theme-dark .single-testimonial-card .info span {
    color: var(--white-color);
  }
  
  .theme-dark .single-blog-card .blog-content .entry-meta li {
    color: var(--white-color);
  }
  
  .theme-dark .single-blog-card .blog-content .entry-meta li a {
    color: var(--white-color);
  }
  
  .theme-dark .single-blog-card .blog-content .entry-meta li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .blog-item-right-box .post-content .entry-meta li {
    color: var(--white-color);
  }
  
  .theme-dark .blog-item-right-box .post-content .entry-meta li a {
    color: var(--white-color);
  }
  
  .theme-dark .blog-item-right-box .post-content .entry-meta li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .choose-image .choose-warrenty {
    background-color: #222222;
  }
  
  .theme-dark .choose-image .choose-warrenty span {
    color: var(--white-color);
  }
  
  .theme-dark .about-content .about-signature img {
    background: var(--white-color);
  }
  
  .theme-dark .services-area.bg-transparent .single-services-card .services-content {
    background-color: #222222;
  }
  
  .theme-dark .choose-area.bg-f9fafb {
    background-color: #222222;
  }
  
  .theme-dark .single-project-card {
    margin-bottom: 25px;
  }
  
  .theme-dark .single-project-card .project-image .search-icon i {
    background-color: #222222;
    color: var(--white-color);
  }
  
  .theme-dark .single-project-card .project-image .search-icon i:hover {
    background-color: var(--main-color);
    color: var(--white-color);
  }
  
  .theme-dark .single-project-card .project-content {
    background-color: #222222;
  }
  
  .theme-dark .pricing-area.bg-f9fafb {
    background-color: #222222;
  }
  
  .theme-dark .pricing-area.bg-f9fafb .single-pricing-box {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .faq-item .accordion-item .accordion-button {
    color: var(--white-color);
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
  }
  
  .theme-dark .faq-item .accordion-item .accordion-button.collapsed::before {
    color: var(--white-color);
  }
  
  .theme-dark .faq-item .accordion-item .accordion-button:not(.collapsed) {
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--main-color);
  }
  
  .theme-dark .faq-item .accordion-item .accordion-body {
    padding: 25px;
    border-left: 1px solid #0e0e0e;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #000000;
  }
  
  .theme-dark .faq-item .accordion-item .accordion-body p {
    color: var(--white-color);
  }
  
  .theme-dark .services-area.bg-transparent .section-title-wrap p {
    color: var(--white-color);
  }
  
  .theme-dark .single-shop-card .shop-content span {
    color: var(--white-color);
  }
  
  .theme-dark .single-shop-card .shop-content .cart-icon a i {
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .single-shop-card .shop-content .cart-icon a i:hover {
    background-color: var(--main-color);
  }
  
  .theme-dark .kadi-grid-sorting {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .kadi-grid-sorting .result-count p .count {
    color: var(--main-color);
  }
  
  .theme-dark .kadi-grid-sorting .ordering .selectize-input {
    border: 1px solid #222222;
    background-color: #222222;
    color: var(--white-color) !important;
  }
  
  .theme-dark .kadi-grid-sorting .ordering .selectize-input:after {
    color: var(--white-color);
  }
  
  .theme-dark .page-banner-area {
    position: relative;
    z-index: 1;
  }
  
  .theme-dark .page-banner-area::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--black-color);
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .70;
  }
  
  .theme-dark .page-banner-content .pages-list li {
    color: var(--white-color);
  }
  
  .theme-dark .page-banner-content .pages-list li::before {
    color: var(--white-color);
  }
  
  .theme-dark .page-banner-content .pages-list li a {
    color: var(--main-color);
  }
  
  .theme-dark .page-banner-content .pages-list li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .project-information {
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .project-information .list li {
    color: var(--white-color);
  }
  
  .theme-dark .project-information .list li span {
    color: var(--white-color);
  }
  
  .theme-dark .project-information .list li span a {
    color: var(--white-color);
  }
  
  .theme-dark .login-form {
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .login-form form .form-group label {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .form-group .form-control {
    color: var(--white-color);
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .login-form form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .login-form form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .login-form form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .login-form form .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .login-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .login-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .lost-your-password-wrap a {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .account-text p {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .account-text p a {
    color: var(--white-color);
  }
  
  .theme-dark .login-form form .account-text p a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .register-form {
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .register-form form .form-group label {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .form-group .form-control {
    color: var(--white-color);
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .register-form form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .register-form form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .register-form form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .register-form form .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .register-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .register-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .account-text p {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .account-text p a {
    color: var(--white-color);
  }
  
  .theme-dark .register-form form .account-text p a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .terms-of-service-content .blockquote, .theme-dark .terms-of-service-content blockquote {
    background-color: #0e0e0e;
  }
  
  .theme-dark .terms-of-service-content ol li, .theme-dark .terms-of-service-content ul li {
    color: var(--white-color);
  }
  
  .theme-dark .privacy-policy-content .blockquote, .theme-dark .privacy-policy-content blockquote {
    background-color: #0e0e0e;
  }
  
  .theme-dark .privacy-policy-content ol li, .theme-dark .privacy-policy-content ul li {
    color: var(--white-color);
  }
  
  .theme-dark .coming-soon-content {
    background-color: #0e0e0e;
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control {
    color: var(--white-color);
    background-color: #1F242F;
    border: 1px solid #1F242F;
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .coming-soon-content form .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .services-details-form {
    background-color: #222222;
  }
  
  .theme-dark .services-details-form .form-group .form-control {
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .selectize-input {
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
    color: var(--white-color);
  }
  
  .theme-dark .services-details-form .form-group .selectize-input:after {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_services {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .widget_services .services-list li a {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_services .services-list li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .widget-area .widget_contact {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .widget_contact a {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_contact a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .widget-area .widget_pdf {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .widget_pdf .list li a {
    background-color: #222222;
    border: 1px solid #222222;
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_pdf .list li a:hover {
    background-color: var(--main-color);
    border: 1px solid --main-color;
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .widget_search form .search-field {
    background-color: #222222;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border: 1px solid #222222;
  }
  
  .theme-dark .widget-area .widget_search form .search-field::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search form .search-field:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search form .search-field::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search form .search-field::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search form .search-field:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .widget-area .widget_search form .search-field:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .widget-area .widget_search form .search-field:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .widget-area .widget_search form .search-field:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .widget-area .widget_search form button {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_search form button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_kadi_posts_thumb {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .widget_kadi_posts_thumb .post-title {
    border-bottom: 1px solid #222222;
  }
  
  .theme-dark .widget-area .widget_kadi_posts_thumb .post-title a {
    color: var(--white-color);
  }
  
  .theme-dark .widget-area .widget_kadi_posts_thumb .post-title:last-child {
    border-bottom: none;
  }
  
  .theme-dark .widget-area .widget_tag_cloud {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .widget-area .tagcloud a {
    background: #222222;
    color: var(--white-color);
    border: 1px solid #222222;
  }
  
  .theme-dark .blog-details-desc .article-content .entry-meta li {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-content .entry-meta li a {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-content .entry-meta li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .blog-details-desc .article-content .blog-desc-quote {
    background: #0e0e0e;
  }
  
  .theme-dark .blog-details-desc .article-tags ul li span {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-tags ul li a {
    border: 1px solid #222222;
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-share ul li span {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-share ul li a i {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-share ul li a i:hover {
    color: var(--main-color);
  }
  
  .theme-dark .blog-details-desc .article-comments .comments-list span {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group label {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control {
    color: var(--white-color);
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group label {
    color: var(--white-color);
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control {
    color: var(--white-color);
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .contact-form-wrap #contactForm .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .contact-support {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .contact-support span {
    color: var(--white-color);
  }
  
  .theme-dark .contact-support .information li {
    color: var(--white-color);
  }
  
  .theme-dark .contact-support .information li a {
    color: var(--white-color);
  }
  
  .theme-dark .contact-support .information li a:hover {
    color: var(--main-color);
  }
  
  .theme-dark .contact-support .social li span {
    color: var(--white-color);
  }
  
  .theme-dark .contact-support .social li a i {
    color: var(--white-color);
  }
  
  .theme-dark .contact-support .social li a i:hover {
    color: var(--main-color);
  }
  
  .theme-dark .contact-support .working-hours .list li {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table thead tr th {
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-table table tbody tr td {
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-table table tbody tr td .remove {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table tbody tr td.product-thumbnail a img {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-table table tbody tr td.product-name a {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter span {
    background-color: #0e0e0e;
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input {
    background-color: #0e0e0e;
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-buttons {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-buttons .shopping-coupon-code .form-control {
    background-color: #222222;
    color: var(--white-color);
    border: 1px solid #222222;
  }
  
  .theme-dark .cart-buttons .shopping-coupon-code .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-buttons .shopping-coupon-code .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-buttons .shopping-coupon-code .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-buttons .shopping-coupon-code .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .cart-totals {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .cart-totals ul li {
    color: var(--white-color);
  }
  
  .theme-dark .cart-totals ul li:last-child span {
    color: var(--white-color);
  }
  
  .theme-dark .cart-totals ul li span {
    color: var(--white-color);
  }
  
  .theme-dark .wishlist-table table thead tr th {
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .wishlist-table table tbody tr td {
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .wishlist-table table tbody tr td .remove {
    color: var(--white-color);
  }
  
  .theme-dark .wishlist-table table tbody tr td.product-thumbnail a img {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .wishlist-table table tbody tr td.product-name a {
    color: var(--white-color);
  }
  
  .theme-dark .user-actions li {
    background: #0e0e0e;
  }
  
  .theme-dark .user-actions li span {
    color: var(--white-color);
  }
  
  .theme-dark .user-actions li span a {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group label {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group .form-control {
    color: var(--white-color);
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .billing-details .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .billing-details .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .billing-details .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .billing-details .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .billing-details .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .billing-details .form-check .form-check-label {
    color: var(--white-color);
  }
  
  .theme-dark .payment-box {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .payment-box .payment-method p [type="radio"]:checked + label, .theme-dark .payment-box .payment-method p [type="radio"]:not(:checked) + label {
    color: var(--white-color);
  }
  
  .theme-dark .payment-box .check-me-wrap [type="checkbox"]:checked + label, .theme-dark .payment-box .check-me-wrap [type="checkbox"]:not(:checked) + label {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-desc .products-add-to-cart span {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter span {
    background-color: #0e0e0e;
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter input {
    background-color: #0e0e0e;
    color: var(--white-color);
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter input::-webkit-input-placeholder {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter input:-ms-input-placeholder {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter input::-ms-input-placeholder {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-desc .products-add-to-cart .input-counter input::placeholder {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-desc .products-meta span {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-desc .products-meta span span.in-stock {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-desc .products-meta span a {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-desc .products-meta span a:hover, .theme-dark .products-details-desc .products-meta span a:focus {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-tabs {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-tabs .nav .nav-item .nav-link {
    color: var(--white-color);
    border-bottom: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-tabs .nav .nav-item .nav-link:hover, .theme-dark .products-details-tabs .nav .nav-item .nav-link.active {
    color: var(--main-color);
  }
  
  .theme-dark .products-details-tabs .nav .nav-item .nav-link:hover::before, .theme-dark .products-details-tabs .nav .nav-item .nav-link.active::before {
    width: 100%;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-reviews .rating span {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-reviews .rating span.checked {
    color: orange;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-reviews .rating-count span {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
    border-bottom: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review {
    border-bottom: 1px solid #0e0e0e;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating .review-stars i {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating span {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control {
    color: var(--white-color);
    background-color: #222222;
    border: 1px solid #222222;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-webkit-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-ms-input-placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::placeholder {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-ms-input-placeholder {
    color: transparent;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::placeholder {
    color: transparent;
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating label:before {
    color: var(--white-color);
  }
  
  .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label {
    color: var(--white-color);
  }
  
  .theme-dark .nav-tabs {
    border-bottom: 1px solid #222222;
  }
  
  @media only screen and (max-width: 767px) {
    .theme-dark .navbar-area {
      background-color: var(--black-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
      color: var(--white-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
      background: var(--white-color);
    }
    .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
      color: var(--white-color);
    }
    .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
      background-color: var(--white-color);
    }
    .theme-dark .hero-slides-area {
      border-top: 1px solid #222222;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .theme-dark .navbar-area {
      background-color: var(--black-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
      color: var(--white-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
      background: var(--white-color);
    }
    .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
      color: var(--white-color);
    }
    .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
      background-color: var(--white-color);
    }
    .theme-dark .hero-slides-area {
      border-top: 1px solid #222222;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .theme-dark .navbar-area {
      background-color: var(--black-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
      color: var(--white-color);
    }
    .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
      background: var(--white-color);
    }
    .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
      color: var(--white-color);
    }
    .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
      background-color: var(--white-color);
    }
    .theme-dark .hero-slides-area {
      border-top: 1px solid #222222;
    }
  }
  /*# sourceMappingURL=dark.css.map */